nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 100px;
}
ul{
  display: flex;
  align-items: center;
  flex-direction: column;
}
nav ul > span{
  color: #fff;
}
.header{
  background: rgb(19, 1, 1);
}
.links{
  text-decoration: none;
  color: #fff;
}
.App h1{
  text-align: center;
}
h2{
  text-align: center;
}
.container{
  width: 90%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.card{
  width: 260px;
  height: auto;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card__img{
  width: 250px;
  height: 180px;
  padding: 5px;
}
.card__content{
  padding: 5px;
}
.card img{
  width: 100%;
  height: 100%;
}
.card button{
  width: 96%;
  margin: 5px;
  font-size: 1.1rem;
  padding: 10px;
  border: none;
  background-color: rgb(130, 12, 241);
  color: #fff;
  cursor: pointer;
}
.card button:hover{
  background-color: rgba(137, 33, 235, 0.671);
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.pagination > span{
  padding: 5px 15px;
  font-size: 1.3rem;
  cursor: pointer;
}
.bg{
  background-color: aqua;
  border-radius: 50%;
}
.disable{
  display: none;
}
.container1{
  display: flex;
  margin: 20px 100px;
  justify-content: space-between;
}
.products__list{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 70%;
}
.product{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.product button{
  height: 40px;
  width: 40px;
  font-size: 1.8rem;
  margin: 0 10px;
  border: none;
  background-color: rgb(36, 100, 143);
  color: #fff;
  cursor: pointer;
}
.img__box img{
  width: 100%;
  height: 120px;
}
.produsts__order__summry{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 25%;
  height: 220px;
}
.produsts__order__summry h3{
  text-align: center;
}
.produsts__order__summry h4{
  padding: 0 10px;
}
.product__content{
  display: flex;
  align-items: center;
}
.product__content p{
  font-size: 1.2rem;
}


@media only screen and (max-width: 768px){
  nav{
    margin: 0 40px;
  }
  .container1{
    margin: 20px 40px;
    flex-direction: column;
  }

  .produsts__order__summry{
    margin: 25px 0;
    width: 100%;
  }
  .products__list{
    width: 100%;
  }
}

@media only screen and (max-width: 500px){
  .product{
    flex-direction: column;
    height: auto;
  }
}